pre { border:1px solid #212121; padding:1em; overflow:auto; background:#f8f8f8;}
code span.al { color: #ef2929; }
code span.an { color: #8f5902; font-weight: bold; font-style: italic; }
code span.at { color: #c4a000; }
code span.bn { color: #0000cf; }
code span.cf { color: #204a87; font-weight: bold; }
code span.ch { color: #4e9a06; }
code span.cn { color: #000000; }
code span.co { color: #8f5902; font-style: italic; }
code span.cv { color: #8f5902; font-weight: bold; font-style: italic; }
code span.do { color: #8f5902; font-weight: bold; font-style: italic; }
code span.dt { color: #204a87; }
code span.dv { color: #0000cf; }
code span.er { color: #a40000; font-weight: bold; }
code span.ex { }
code span.fl { color: #0000cf; }
code span.fu { color: #000000; }
code span.im { }
code span.in { color: #8f5902; font-weight: bold; font-style: italic; }
code span.kw { color: #204a87; font-weight: bold; }
code span.op { color: #ce5c00; font-weight: bold; }
code span.ot { color: #8f5902; }
code span.pp { color: #8f5902; font-style: italic; }
code span.sc { color: #000000; }
code span.ss { color: #4e9a06; }
code span.st { color: #4e9a06; }
code span.va { color: #000000; }
code span.vs { color: #4e9a06; }
code span.wa { color: #8f5902; font-weight: bold; font-style: italic; }
